@import url(http://fonts.googleapis.com/css?family=Lobster|Slabo+27px|Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700|Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Satisfy);

.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}

hr {
    color: #f4f4f4;
}

body {
    background-color: #fff;
    color: #352F2F;
}

a:hover {
    text-decoration: none;
}

.active {
    background-color: #f1c40f;
    color: #fff;
}

#backToTop {
    position: fixed;
    bottom: 107px;
    right: 6px;
    font-size: 20px;
}

.color_yellow {
    background: #F7C70F;
}

.btn_full {
    width: 100%;
    padding: 10px 15px;
}

.centered {
    margin: 0px auto;
    float: none;
}

.form-control {
    font-size: .9em;
    padding: 6px 10px;
    border-radius: 1px;
    height: 42px;
    border: 1px solid #dfdfdf;
    color: #b3b3b3;
    margin-bottom: 15px !important;
    box-shadow: none;
}

    .form-control:focus {
        box-shadow: none;
    }
/*header part*/
#header {
    background-color: #fff;
    height: 100px;
}

    #header h1 {
        margin-top: 32px;
        font-family: 'Droid Serif', serif;
        color: #fff;
        font-size: 30px;
        font-weight: 700;
    }

    #header #logo img {
        margin-top: 9px;
        width: 225px;
    }

    #header #leftMenu ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        margin-top: 20px;
        /*li:last-child a:hover{
         background-color: @fontColor;
     }*/
    }

        #header #leftMenu ul a {
            padding: 15px;
            display: block;
            color: #444;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            font-size: 0.875em;
            text-decoration: none;
            transition: all ease 600ms;
        }

        #header #leftMenu ul .hvr-float:hover,
        #header #leftMenu ul .hvr-float:focus,
        #header #leftMenu ul .hvr-float:active {
            background: orange;
        }

        #header #leftMenu ul li {
            margin-right: 5px;
            display: inline-block;
            float: left;
        }

    #header #rightMenu ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        margin-top: 35px;
        margin-left: 30px;
    }

        #header #rightMenu ul a {
            padding: 5px;
            color: #444;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            font-size: 0.875em;
            text-decoration: none;
            transition: all ease 600ms;
        }

        #header #rightMenu ul li {
            display: inline-block;
            float: right;
        }

    #header #rightMenu .info .number {
        font-size: 16px;
    }

    #header #rightMenu .info .email {
        font-size: 11px;
        color: #777;
        margin-left: 17px;
        margin-top: -1px;
        display: block;
    }
/*end header part*/
/*featuredApp section*/
#featuredApp {
    position: absolute;
    bottom: 140px;
    left: 0px;
    z-index: 400;
    right: 0px;
}

    #featuredApp img {
        margin: 0 auto;
        display: block;
        width: 100%;
        height: 100px;
    }
/*end featuredApp*/
section.headerThemeSection {
    background-image: url(../images/faq_header.png);
    height: 100px;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover;
}

#subHeader {
    background-image: url(../images/bg-overlay1.png);
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover;
    height: 100px;
    width: 100%;
}

    #subHeader h2 {
        padding-top: 25px;
        margin: 0px;
        color: #ffffff;
        text-align: center;
        font-size: 33px;
    }

#secondaryHeader {
    background-color: #352F2F;
    height: 85px;
    border-bottom: 2px solid #3498db;
    display: none;
}

    #secondaryHeader #menu ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        margin-top: 15px;
        margin-left: 0px;
        /*li:last-child a:hover{
         background-color: @fontColor;
     }*/
    }

        #secondaryHeader #menu ul a {
            padding: 20px;
            display: block;
            color: #FFFFFF;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            font-size: 0.875em;
            text-decoration: none;
            transition: all ease 600ms;
        }

            #secondaryHeader #menu ul a:hover {
                background-color: #3498db;
            }

        #secondaryHeader #menu ul li {
            display: inline-block;
            float: left;
            border-left: 1px solid #3D3D3D;
        }

#faq p {
    margin-left: 23px;
}

#faq #serviceList p {
    margin-left: 40px;
}

#faq strong,
#faq h4 {
    color: #504747;
}
/*slider part*/
#slider {
    position: relative;
}

    #slider #owl-rs {
        width: 100%;
        margin: 0px auto;
    }

        #slider #owl-rs img {
            width: 100%;
            margin: 0px auto;
            display: block;
        }

    #slider div.booking-search {
        position: absolute;
        top: 0%;
        left: 0;
        right: 0;
    }

        #slider div.booking-search div.booking-search-box {
            width: 100%;
            height: 90px;
            background: rgba(50, 58, 69, 0.9);
            box-sizing: border-box;
            display: flex;
        }

            #slider div.booking-search div.booking-search-box .title {
                width: 108px;
                padding: 10px;
                margin-left: 6px;
            }

                #slider div.booking-search div.booking-search-box .title p,
                #slider div.booking-search div.booking-search-box .title h2 {
                    margin: 0;
                    padding: 0;
                    color: #ffffff;
                }

                #slider div.booking-search div.booking-search-box .title p {
                    font-size: 11px;
                    margin-top: 17px;
                }

                #slider div.booking-search div.booking-search-box .title h2 {
                    font-size: 20px;
                }

            #slider div.booking-search div.booking-search-box .inputs {
                margin-top: 30px;
            }

                #slider div.booking-search div.booking-search-box .inputs input {
                    border: none;
                    height: 30px;
                    width: 150px;
                    background: #3d4654;
                    box-sizing: border-box;
                    padding: 5px;
                    color: #f4f4f4;
                    border-bottom: 1px solid #5d6c80;
                }

                #slider div.booking-search div.booking-search-box .inputs *::-webkit-input-placeholder {
                    color: #a1acbb;
                }

                #slider div.booking-search div.booking-search-box .inputs input:focus {
                    outline: none;
                }

            #slider div.booking-search div.booking-search-box .submit button {
                background: #F7C70F;
                font-weight: bold;
                text-transform: uppercase;
                color: #323A45;
                border: none;
                padding: 7px;
                width: 90px;
                margin-left: 15px;
                margin-top: 26px;
            }

    #slider div.slider-message {
        position: absolute;
        width: 400px;
        bottom: 160px;
        left: 100px;
        background-color: rgba(247, 199, 15, 0.85);
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
        color: #333;
        height: 100px;
        border-radius: 6px;
    }

        #slider div.slider-message h2,
        #slider div.slider-message h3 {
            margin: 0;
            padding: 0;
        }

        #slider div.slider-message h2 {
            font-size: 40px;
        }

        #slider div.slider-message h3 {
            font-size: 20px;
            margin-top: 5px;
            color: #444;
        }
/*end slider part*/
/*sliderbox part*/
#sliderBox .box {
    background-color: rgba(52, 152, 219, 0.3);
    border-top: 4px solid #3498db;
    height: 200px;
    position: absolute;
    top: -200px;
    text-align: center;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 56px 36px -60px #121D12;
    -moz-box-shadow: 0px 56px 36px -60px #121D12;
    -o-box-shadow: 0px 56px 36px -60px #121D12;
}

    #sliderBox .box i {
        margin-top: 40px;
        color: #fff;
    }

    #sliderBox .box h2 {
        font-family: 'Slabo 27px', serif;
        font-weight: bold;
        color: #fff;
        font-size: 1.5em;
        text-transform: uppercase;
    }

    #sliderBox .box p {
        /*color: darken(@baseColor,20%);*/
        padding: 0px 10px;
        color: #fff;
    }

    #sliderBox .box:hover {
        background-color: #3498db;
        transition: all 600ms;
    }
/*end sliderbox*/
/*info part*/
#info h2 {
    font-family: 'Bree Serif', serif;
    text-align: left;
    color: #323A45;
    padding: 8px;
    margin-top: 5px;
}

#info #features a,
#info #benefits a {
    text-align: center;
    margin: 0px auto;
    display: block;
    color: #504747;
    margin-top: 10px;
    float: left;
}

#info #features ul,
#info #benefits ul {
    margin: 0px;
    padding: 0px;
}

    #info #features ul li,
    #info #benefits ul li {
        list-style-type: none;
        padding-left: 10px;
        line-height: 29px;
        text-align: left;
        font-size: 16px;
        color: #867777;
        font-weight: 100;
        margin-bottom: 6px;
    }

        #info #features ul li:nth-child(2n+1),
        #info #benefits ul li:nth-child(2n+1) {
            background: #f2f2f2;
        }

#info h3 {
    color: #217dbb;
}

#info h4 {
    color: #3498db;
    font-size: 15px;
}

#info a {
    color: #352F2F;
    display: block;
    line-height: 30px;
}

    #info a:hover {
        color: #3498db;
        text-decoration: none;
    }

#info .btn {
    line-height: normal;
    width: 40%;
    color: #fff;
}

    #info .btn:hover {
        color: #352F2F;
    }

#info #featuresTable,
#info #benefitTable {
    padding: 0px;
    margin: 0px;
}

    #info #featuresTable i,
    #info #benefitTable i {
        color: #45C15C;
    }

    #info #featuresTable tr:nth-child(2n),
    #info #benefitTable tr:nth-child(2n) {
        background: #EAE4D8;
    }

    #info #featuresTable tr:hover,
    #info #benefitTable tr:hover {
        background: #3498db;
        color: #fff;
    }

    #info #featuresTable td,
    #info #benefitTable td {
        padding: 5px;
    }
/*end info part*/
/*room*/
.room {
    background: #fafafa;
}

    .room figure {
        position: relative;
        margin-top: 5px;
    }

        .room figure img {
            width: 100%;
        }

        .room figure .price {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1em;
            text-align: center;
            padding: 4px 12px;
            background: #444;
            border-radius: 0 0 10px 0;
            color: #fff;
            z-index: 9;
            border: 2px solid #fff;
            border-top: none;
            border-left: none;
        }

    .room figcaption {
        padding: 15px 10px;
        border: 1px solid #f0f2f6;
        border-top: none;
    }

        .room figcaption h4,
        .room figcaption h5 {
            display: inline-block;
            font-weight: 600;
        }

            .room figcaption h4 a,
            .room figcaption h5 a {
                color: #a1b1c1;
            }
/*room*/
.f_right {
    float: right;
}

.button {
    border: 1px solid;
    border-radius: 1px;
    font-size: .9em;
    padding: 8px 15px;
    background: #fff;
    border-color: #e6eff2;
    color: #a9a9a9;
    font-weight: 600;
    letter-spacing: .04em;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    display: inline-block;
    line-height: 1.82857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .button .btn_blue {
        background: #1dc1f8;
        border-color: #1dc1f8;
        color: #fff;
    }

    .button .btn_yellow {
        background: #ffb600;
        border-color: #ffb600;
        color: #fff;
    }

    .button .btn_gold {
        background: #c7ba88;
        border-color: #c7ba88;
        color: #fff;
    }

    .button .btn_dark {
        background: #5e6667;
        border-color: #5e6667;
        color: #fff;
    }

#members {
    background: url(../images/bg-overlay.png);
    background-size: cover;
    padding: 40px 0;
    font-family: 'Open Sans', sans-serif;
}

    #members .item {
        position: relative;
        text-align: center;
        border: 1px solid white;
        z-index: 1;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        padding-top: 40px;
    }

    #members .client-pic {
        padding-top: 20px;
        position: absolute;
        left: 50%;
        margin-left: -52.5px;
        top: -90px;
        z-index: 10;
        -webkit-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease;
    }

        #members .client-pic img {
            width: 100px;
            height: 100px;
        }

    #members .item cite {
        color: orange;
        font: 1.4em/3em "Droid Serif", Arial, Helvetica, sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

    #members .item blockquote {
        font-family: 'Open Sans', sans-serif;
        color: white;
        position: relative;
        border: 0;
        background: none;
        margin: 0;
        padding: 0 25px 30px;
        line-height: 1.5em;
        font-size: 16px;
    }

    #members small {
        color: #f5f5f5;
    }

.featuresImg ul {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

    .featuresImg ul li {
        list-style-type: none;
        float: left;
        margin-right: 5px;
        margin-bottom: 5px;
    }

        .featuresImg ul li img {
            width: 70px;
            height: 60px;
        }
/*client slider*/
#clientsSlider #owl-clients img {
    width: 80px;
    height: 80px;
}
/*top footer*/
#topFooter {
    background-color: #272727;
    padding-top: 20px;
    color: #929292;
    line-height: 1.8em;
    font-family: 'Open Sans', sans-serif;
}

    #topFooter h3 {
        text-transform: uppercase;
        color: #fff;
        font-size: 1.2em;
        font-family: 'Open Sans', sans-serif;
    }

    #topFooter .social i {
        color: #929292;
        font-size: 24px;
    }

    #topFooter .payments-method {
        display: flex;
        width: 100%;
        justify-content: center;
    }

        #topFooter .payments-method img {
            width: 60px;
            height: 40px;
            margin: 0 3px;
        }
/*end top footer*/
/*footer part*/
#footer {
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    background-color: #1a1a1a;
    color: #98afc6;
}

    #footer a {
        color: #98afc6;
        text-transform: uppercase;
        text-align: center;
    }

        #footer a:hover {
            color: #3498db;
            text-decoration: none;
        }
/*end footer part*/
#overview .overviewBox {
    margin: 10px;
    margin-bottom: 30px;
}

    #overview .overviewBox .overviewIcon {
        margin-right: 10px;
        background-color: #3498db;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        float: left;
    }

    #overview .overviewBox p {
        clear: left;
        padding-top: 9px;
    }

    #overview .overviewBox i {
        margin-left: 12px;
        margin-top: 8px;
        color: #fff;
        font-size: 20px;
    }

    #overview .overviewBox h4 {
        position: relative;
        top: 11px;
        font-size: 18px;
        color: #504747;
    }

#features i,
#benefits i {
    color: #45C15C;
}

#customizeSc p,
#readySoftwarePakage p {
    margin-left: 15px;
}
/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
@media (max-width: 1100px) {
    #featuredApp {
        display: none;
    }

    #welcomeMsg {
        background: #3498db;
        position: relative;
        top: 0px;
    }

        #welcomeMsg h2 {
            font-size: 25px;
        }

    #sliderBox {
        position: relative;
    }

        #sliderBox .box {
            position: relative;
            top: 10px;
            padding: 5px;
            background: #EAE4D8;
        }

            #sliderBox .box i {
                margin-top: 40px;
                color: #3498db;
            }

            #sliderBox .box h2 {
                font-family: 'Slabo 27px', serif;
                font-weight: bold;
                color: #444;
                font-size: 1.5em;
                text-transform: uppercase;
            }

            #sliderBox .box p {
                color: #196090;
            }

            #sliderBox .box:hover {
                background: #EAE4D8;
            }

    #header {
        height: auto;
    }

        #header #leftMenu {
            padding-left: 0px;
            margin-left: 0px;
        }

            #header #leftMenu ul {
                /*li:last-child{
        display: none;
        }*/
            }

                #header #leftMenu ul li a {
                    padding: 10px;
                }

        #header #rightMenu ul li a {
            padding: 5px;
        }
}

.rbSocial.thumbnails ul {
    width: 100%;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

    .rbSocial.thumbnails ul li {
        width: 43%;
        height: 60px;
        background: #F7F7F7;
        color: #DBDBDB;
        display: block;
        float: left;
        margin: 0 3px 3px 0;
        padding-top: 30px;
        text-align: center;
        font-size: 38px;
        cursor: pointer;
        position: relative;
        border: none;
        list-style-type: none;
        margin: 5px 5px !important;
    }

        .rbSocial.thumbnails ul li a {
            display: block;
            width: 43%;
            height: 60px;
            position: absolute;
            top: 13px;
            left: 17px;
            color: #9e9292;
        }

        .rbSocial.thumbnails ul li:hover {
            background: #FD4326;
        }

    .rbSocial.thumbnails ul a:hover {
        color: #fff !important;
    }

    .rbSocial.thumbnails ul li a:hover {
        color: #FD4326;
    }

#HomeTab p {
    padding: 20px;
    background: #fff;
    color: #352F2F;
}

.room-preview-box .view {
    min-height: 407px;
    max-height: 404px;
}

    .room-preview-box .view img {
        width: 100%;
        min-height: 395px;
        max-height: 395px;
    }

.room-preview-box .thum-box {
    display: flex;
    justify-content: flex-start;
}

    .room-preview-box .thum-box .thum {
        width: 100px;
        margin: 5px;
        cursor: pointer;
    }

        .room-preview-box .thum-box .thum:first {
            margin-left: 0;
        }

.facility-box .item {
    background: #f4f4f4;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 5px;
    height: auto;
}

    .facility-box .item span.icon {
        /*background: #ddd;*/
        position: relative;
        padding: 5px;
        top: -5px;
        left: -5px;
        display: inline-block;
        height: 30px;
        width: 30px;
        text-align: center;
    }

 .facility-box .room-title {
    font-weight: bold;
    font-size: 17px;
    float: left;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #4b4b4b;
}

.facility-box .item span.text {
    position: relative;
    top: -5px;
    color: #666;
}

.facility-box .item i.fa-check-circle {
    color: #2ecc71;
}

.facility-box .item i.fa-times-circle {
    color: #e74c3c;
}

.overview .panel-body p {
    color: #555;
}

#smartwizard .active a {
    color: #fff !important;
}

#smartwizard .room_list_row {
    margin-top: 20px;
}

    #smartwizard .room_list_row:first-child {
        margin-top: 0px;
    }
